<!DOCTYPE html>
<html xmlns:th="http://ww.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Guest Home</title>
</head>
<body>
<h2>==================== Guest Home Page ======================</h2>
<br>
<a href="/login">logout</a><br>
<span th:text="'Hello,  ' + ${message.get(0).getName()}"></span><br>
<h3> Please Enter the Address Details</h3><br>
 <form th:action="@{update}" method="post">
      <input type="hidden" name="id" th:value="${message.get(0).getId()}" />
      <input type="text" name="address" placeholder="Enter address"  />
      <input type="submit" value="Submit" class="btn btn-danger" />
 </form>

</body>
</html>